.travel-catalogue {
  display: flex;
  justify-content: space-evenly;
}

.image-resolution {
  width: 100px;
  height: 75px;
}

.travel-catalogue-wrapper {
  width: 58vh;
  height: 53vh;
  float: right;
  overflow: auto;
}

.separator {
  border-top: 2px solid black;
}

.details {
  text-align: left;
  padding-left: 5px;
  line-height: 14px;
  padding-top: 5px;
}

.description {
  font-size: 12px;
}

.top-section {
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  height: 5vh;
}
